body{
    margin: 0px;
    font-family: Arial;
}

#body-header{
    height: 65vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Top Navigation */
.horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
}

.horizontal-list li{
    display: inline-block;
    margin: 10px 8px 8px 0px;
    font-size: 1.1rem;
}

.horizontal-list li a{
    color: white;
    text-decoration: none;
}

.horizontal-list li a:hover{
    color: lightgrey;
    border-bottom: 1px solid lightgrey;
    transition: color 0.5s;
}

.text-center{
    text-align: center;
}

/* Name and Social Icons */
#name-social-container{
    margin-top: 20vh;
}

#my-name{
    font-size: 4rem;
    letter-spacing: 0.2rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li i{
    padding: 10px;
    font-size: 2rem;
}

.social-icons li i:hover{
    color: lightgray;
    transition: color 0.5s;
    text-decoration: none;
}