body{
    margin: 0px;
    font-family: Arial;
}

#body-header{
    height: 65vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

